Stacer.pro.*
dist/
build/
#*.AppImage
.vscode
Release/
.idea/custom-compiler.xml
buildStacer-Jordan.sh
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/reply/cache-v2-68f48b045eaf5503f553.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-80d7497f840c4f60c474.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-839d45896d340b6e5a1f.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
cmake-build-release/.cmake/api/v1/reply/directory-stacer-core-Release-acfd9a460de7a2e49591.json
cmake-build-release/.cmake/api/v1/reply/directory-stacer-Release-f53d255f1f621bbccc42.json
cmake-build-release/.cmake/api/v1/reply/index-2023-12-13T14-41-47-0632.json
cmake-build-release/.cmake/api/v1/reply/target-stacer-core-Release-2ddfdf16c3187cc41b65.json
cmake-build-release/.cmake/api/v1/reply/target-stacer-core_autogen-Release-62b80f0710fa871d0979.json
cmake-build-release/.cmake/api/v1/reply/target-stacer-Release-d2f43e7bb7599a518e7a.json
cmake-build-release/.cmake/api/v1/reply/target-stacer_autogen-Release-81149295d81979018f3d.json
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.27.0/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.27.0/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.27.0/CMakeSystem.cmake
