Stacer.pro.*
dist/
build/
#*.AppImage
.vscode
Release/
.idea/misc.xml
.idea/modules.xml
.idea/Stacer.iml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
.idea/custom-compiler.xml
